body{
  margin : 0px;
  padding : 0px;
  background-color: #232400;
}

h1{
  margin:0;
  background-color: #947400;
  color:#dbdbdb;
  padding:20px;
  text-align:center;
}

.conteudo{
  margin:auto;
  border: 1px solid yellow;
  width:500px;
  box-shadow: 0 0 5px yellow;
  padding : 10px;
  background-color: white;
}

img {
  margin: auto;
  display: block;
}

ul{
  text-align: center;
}

h3{
  color: #945e00
}

